/* .navbar_custom{
    margin-top: 1.5rem;
    
} */

/* .nav-tab_custom{
    margin: 5px 5px;
    padding: 4px 15px;

    border-radius: 5px;
    
    background-color: var(--primary-button-color);

    color: black;
    text-decoration: none;
    font-weight: 500;

    
}
.nav-tab_custom:hover{
    background-color: var(--secondary-button-color);
    cursor: pointer;
} */